*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.login input{
    all:unset;
    padding: 0.8em;
    border: solid black 1px;
    border-radius: 0.5em;
    margin: 1em;
}
.login button{
    all:unset;
    background-color: rgb(190, 240, 255);
    padding: 0.8em;
    border: solid black 1px;
    border-radius: 0.5em;
    margin: 1em;
    transition: 0.3s ;
}
.login button:hover{
    cursor: pointer;
    background-color: rgb(152, 231, 255);
}
::placeholder{
    color: black;
}